---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<a href="/about/">À propos</a>

		<h1>Astro</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, perspiciatis ea, optio iusto nemo nulla provident dolor facilis delectus quam nisi? Delectus, quisquam maiores porro asperiores sapiente dolorem saepe alias?</p>
	</body>
</html>
